/* PHASE 7: Online */
.online {
  position: absolute;
  top: 20px;
  transform: rotate(-0.125turn);
  font-weight: bold;
  background: limegreen;
  padding: 5px 80px;
  left: -80px;
  color: white;
  letter-spacing: .15rem;
  box-shadow: 0 1px 1px black;
  border-top: .5px solid black;
}

.profile-picture {
  overflow: hidden;
}